<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Gateway Integration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
</head>

<body>
    <main class="main__container">
        <nav class="navbar p-3">
            <div class="container">
                <span class="navbar-brand fs-3">
                    <i class="fas fa-viruses"></i>
                    Covid-19 Donations
                </span>
            </div>
        </nav>
        <section class="p-4">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-8 col-sm-12 my-lg-auto text-lg-start text-sm-center">
                        <p class="fw-lighter mb-0 fs-6">Covid19 Donations</p>
                        <h1 class="fw-bolder mt-0 main__heading">Stay Home. Help Others.</h1>
                        <p class="p-2 fw-bold">The World Health Organization (WHO) is leading and coordinating the
                            global
                            effort, supporting
                            countries to prevent, detect, and respond to the pandemic.
                            Everyone can now support directly the response coordinated by WHO. People and organizations
                            who want to help fight the pandemic and support WHO and partners can now donate through the
                            COVID-Solidarity Response Fund for WHO.</p>
                        <form action="" method="post">
                            <input type="submit" value="Donate Now!" class="btn btn-lg shadow-sm fw-bold donate__btn">
                        </form>
                        <!-- <button class="btn btn-lg shadow-sm fw-bold donate__btn">Donate
                            Now!</button> -->
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <figure><img src="{{url_for('static',filename='images/img.png')}}" alt=""></figure>
                    </div>
                </div>
        </section>
    </main>
    <footer class="text-center footer__main p-3">
        Made by <a href="https://github.com/sny-shnkr" class="fw-bold">Sunny Shankar</a> for <a
            href="https://www.thesparksfoundationsingapore.org/" class="fw-bold">The Sparks Foundation</a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
</body>

</html>