<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Gateway Integration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <style>
        .main__container {
            min-height: 100vh;
            background: linear-gradient(to bottom right, #eca3f5, #fdbaf8);
            color: #c67ace;
            /* color: white; */
        }
    </style>
</head>

<body>
    <main class="main__container">
        <div class="container p-5 text-center">
            <figure><img height="200" width="200" src="{{url_for('static',filename='images/successfull.png')}}" alt="">
            </figure>
            <h1>Payment Received</h1>
            <h1>Thank You!</h1>
        </div>
    </main>
</body>

</html>